.container-hero {
  padding-top: 40px;
  background-color: #00a9ff;

  .sec-r img {
    width: 100%;
    margin: 40px 0px;
  }

  .sec-l {
    .title-hero {
      font-family: 'Lalezar', sans-serif, serif;
      font-size: 35px;
      text-align: center;
      color: white;

      padding-bottom: 30px;
    }

    .container-heroBox {
      width: 150px;
      height: 80px;

      font-family: 'Lalezar', sans-serif, serif;
      font-size: 18px;
      text-align: center;

      padding: 15px 0px;
      margin: 0px auto 40px;
      border-radius: 86% 14% 20% 80% / 18% 20% 80% 82%;
      background-color: white;

      .title {
        padding-left: 10px;
        .icon {
          font-size: 25px;
          margin-right: 5px;
        }
      }
    }

    .btn-start-learn {
      width: fit-content;
      margin: auto;

      font-family: 'Lalezar', sans-serif, serif;
      font-size: 40px;
      color: white;
      cursor: pointer;

      .icon {
        transform: scale(-1);
      }
    }

    .btn-start-learn:hover {
      color: orangered;
    }
  }
}
