.form-register {
  width: 100%;
  height: 405px; /* height equal height form Login for animation */

  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  padding: 12px;

  transform: translateX(100%);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  .title {
    font-size: 25px;
    text-align: center;
    padding: 15px 0px 15px;
  }

  .lbl-fName {
    font-size: 18px;
    padding-top: 45px;
  }

  .lbl-lName,
  .lbl-username,
  .lbl-pass {
    width: fit-content;
    font-size: 16px;
    padding-top: 5px;
  }

  input[class^='input'] {
    font-family: 'Yekan', sans-serif, serif;
    font-weight: 700;

    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;

    &:focus {
      border: 1px solid var(--theme-mode);
      box-shadow: 1px 1px 1px 0px var(--theme-mode);
    }
  }

  .check-username {
    font-family: 'Yekan', sans-serif, serif;
    font-weight: 700;
    font-size: 12px;
    text-align: left;
    color: rgb(11, 225, 40);
  }

  .lbl-email {
    margin-top: -10px;
    font-size: 16px;
  }

  .footer-pass {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    label.show-pass-register {
      display: flex;
      align-items: center;
      direction: ltr;

      font-family: 'Yekan', sans-serif, serif;
      font-size: 14px;
      font-weight: bolder;
      padding: 2px 0px;

      input[type='checkbox'] {
        margin-left: 3px;
      }
    }

    .score-pass {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      direction: ltr;

      align-self: flex-end;
      padding: 5px 0px;

      div[class^='score'] {
        width: 20px;
        height: 10px;
        border: 0.5px solid black;
        margin-right: 5px;
      }
    }
  }

  .lbl-rpt-pass {
    width: fit-content;
    font-size: 16px;
  }

  .lbl-rpt-pass-shake {
    color: red;
    animation: shake 0.2s linear 0s 1 forwards;
  }

  .input-rpt-pass-shake {
    border: 1px solid red !important;
    box-shadow: 1px 1px 1px 0px red;
  }

  .confirm-pass {
    font-family: 'Yekan', sans-serif, serif;
    font-weight: 700;
    font-size: 12px;
    text-align: left;
    color: red;
  }

  .btn-register {
    all: unset;
    width: 100%;
    height: 40px;
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    cursor: pointer;

    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
  }

  .btn-register:hover {
    border-color: var(--theme-mode);
    box-shadow: 0px 0px 3px 1px var(--theme-mode);
    background-color: var(--theme-mode);
    color: white;
  }
}

.form-register-show {
  height: 620px;
  transform: translate(0);
}
