.container-user-login {
  width: 400px;
  height: fit-content;

  position: relative;
  z-index: 1;

  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  background-color: white;

  overflow: hidden;
  border: 1px solid var(--theme-mode);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px var(--theme-mode);

  .container-form-login-register {
    .btns-switch-login {
      width: 300px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;

      border: 1px solid black;
      border-radius: 10px;

      position: absolute;
      top: 75px;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      z-index: 1;

      a.login,
      a.register {
        width: 100%;
        color: black;
        text-align: center;
        text-decoration: none;
        padding: 5px 0px;

        transition: all 0.2s ease-in-out;
      }

      a.active {
        color: white;
        cursor: default;
      }

      .slider {
        width: 50%;
        height: 100%;

        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;

        border-radius: 8px;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      a.login[class~='active'] ~ .slider {
        background-color: red;
        transform: translateX(100%);
      }

      a.register[class~='active'] ~ .slider {
        background-color: red;
        transform: translateX(0%);
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(-20deg);
  }

  10% {
    transform: rotate(+20deg);
  }

  20% {
    transform: rotate(-20deg);
  }

  30% {
    transform: rotate(+20deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(+20deg);
  }
}

@keyframes effectLoading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
