@font-face {
  font-family: 'Yekan';
  src: url(./assets/fonts/Yekan.ttf) format(trueType);
}

@font-face {
  font-family: 'Lalezar';
  src: url(./assets/fonts/Lalezar.ttf) format(trueType);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  scroll-behavior: smooth;
  direction: rtl;
  font-family: 'Lalezar', sans-serif, serif;
}
