.container-btns-swiper {
  display: flex;
  width: fit-content;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  button {
    all: unset;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--theme-mode);
    border-radius: 50%;
    margin-right: 2px;
    overflow: hidden;

    .icon {
      font-size: 35px;
      color: white;
      background-color: var(--theme-mode);
    }
  }

  button:hover {
    .icon {
      color: var(--theme-mode);
      background-color: white;
    }
  }
}
